#header-container {
  background-color: #2a2d34;
}
#header-content {
  width: 90%;
  margin: auto;
  max-width: 1000px;
}
#header-content #brand,
#header-content #nav {
  width: 48%;
  display: inline-block;
}
#header-content #brand {
  text-align: left;
  color: #93dc28;
}
#header-content #nav {
  text-align: right;
  color: #ffffff;
}
#hero {
  color: #ffffff;
}
#overlay {
  background-color: #2a2d34;
  opacity: 0.5;
}
#headshot-container,
#about-me {
  width: 100%;
  text-align: center;
}
@media (min-width: 700px) {
  #headshot-container,
  #about-me {
    width: 48%;
    display: inline-block;
  }
}
#portfolio {
  text-align: center;
}
.column {
  width: 100%;
}
@media (min-width: 700px) {
  .column {
    width: 48%;
    display: inline-block;
  }
}
footer {
  text-align: center;
  background-color: #2a2d34;
  color: #ffffff;
}
.footer-item {
  display: block;
}
@media (min-width: 700px) {
  .footer-item {
    display: inline;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
#content {
  width: 100%;
  margin: 0 auto;
}
#content #content-container {
  width: 90%;
  margin: auto;
  max-width: 1000px;
}
