#navbar {
  z-index: 1;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  padding: 1rem;
  height: 100vh;
  box-sizing: border-box;
  box-shadow: 1px 0px 5px #b5b5b5;
}
#navbar .nav-link {
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px;
  text-decoration: none;
  color: #003d1e;
  transition: all 0.25s ease-out;
  border-bottom: 2px solid transparent;
  font-weight: bold;
}
#navbar .nav-link:hover,
#navbar .nav-link:focus {
  border-color: #003d1e;
}
@media (max-width: 700px) {
  .navbar-container {
    display: none;
  }
}
#welcome-section {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dcdcdd;
}
#welcome-section header {
  color: #003d1e;
}
#welcome-section .b-highlight {
  color: #ffffff;
  background-color: #006130;
  padding: 0 12px;
  border-radius: 8px;
}
@media (min-width: 700px) {
  #welcome-section {
    height: 66vh;
  }
}
#projects {
  border-bottom: 1px solid #dcdcdd;
}
#projects .project-container {
  margin-bottom: 2.5rem;
}
#footer .headshot {
  margin-bottom: 1.25rem;
  width: 100%;
  display: block;
}
#footer .footer-item {
  font-size: 1.25rem;
  margin: 0.75rem 0.75rem 0.75rem 0;
}
@media (min-width: 700px) {
  #footer .headshot-container {
    max-width: 500px;
  }
  #footer .bio {
    max-width: 1000px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #003d1e;
}
p {
  color: #130303;
}
h1 {
  font-size: 2rem;
  line-height: 1.25;
}
@media (min-width: 43.75rem) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.125;
  }
}
@media (min-width: 56.25rem) {
  h1 {
    font-size: 3rem;
    line-height: 1.05;
  }
}
h2 {
  font-size: 1.625rem;
  line-height: 1.15384615;
}
@media (min-width: 43.75rem) {
  h2 {
    font-size: 2rem;
    line-height: 1.25;
  }
}
@media (min-width: 56.25rem) {
  h2 {
    font-size: 2.25rem;
    line-height: 1.25;
  }
}
h3 {
  font-size: 1.375rem;
  line-height: 1.13636364;
  margin-bottom: 0.75rem;
}
@media (min-width: 43.75rem) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
@media (min-width: 56.25rem) {
  h3 {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}
h4 {
  font-size: 1.125rem;
  line-height: 1.11111111;
}
@media (min-width: 43.75rem) {
  h4 {
    line-height: 1.22222222;
  }
}
blockquote {
  font-size: 1.25rem;
  line-height: 1.25;
}
@media (min-width: 43.75rem) {
  blockquote {
    font-size: 1.5rem;
    line-height: 1.45833333;
  }
}
p {
  font-size: 1rem;
}
.p-small {
  font-size: 0.875rem;
}
.p-medium {
  font-size: 1.125rem;
}
.bold {
  font-weight: 700;
}
.highlight {
  background-color: #382633;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
}
a {
  transition: color 0.25s;
}
a:link {
  color: #6c4b5e;
}
a:visited {
  color: #382633;
}
a:focus {
  color: #006130;
}
a:hover {
  color: #006130;
}
a:active {
  color: #006130;
}
html {
  font-family: 'Cabin', sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html body {
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
html .navbar-container {
  flex: 0 0 200px;
  box-sizing: border-box;
}
html .section-container {
  flex: 1 1 auto;
  box-sizing: border-box;
}
html #welcome-section,
html #projects,
html #footer {
  padding: 3rem 1rem;
  box-sizing: border-box;
}
@media (min-width: 700px) {
  html #welcome-section,
  html #projects,
  html #footer {
    padding: 3rem 6rem;
  }
}
