#navbar {
  z-index: 1;
  background-color: #2a2d34;
  color: #fff;
  text-align: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  border-bottom: 3px #93dc28 solid;
}
#navbar .nav-link {
  font-size: 1.5rem;
  margin: 10px;
  text-decoration: none;
  color: #fff;
  transition: all 0.25s ease-out;
}
#navbar .nav-link:hover,
#navbar .nav-link:focus {
  color: #93dc28;
}
#welcome-section {
  background: linear-gradient(rgba(42, 45, 52, 0.8), rgba(42, 45, 52, 0.8)), url(../img/rock-stack-min.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  color: #2a2d34;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome-section header {
  color: #fff;
}
#projects {
  text-align: center;
  color: #2a2d34;
  border-top: 3px #93dc28 solid;
  padding: 0 1rem;
  box-sizing: border-box;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 580px));
  gap: 2.5rem 2.5rem;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  max-width: 1200px;
}
.container {
  position: relative;
}
.portfolio-img {
  opacity: 0.7;
  height: auto;
  transition: 0.5s ease;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.middle {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 75%;
}
.container .project-link {
  display: block;
  position: relative;
}
.container .project-link:hover .portfolio-img,
.container .project-link:focus .portfolio-img {
  opacity: 0.3;
}
.container .project-link:hover .middle,
.container .project-link:focus .middle {
  opacity: 1;
}
.text {
  background-color: #2a2d34;
  color: #fff;
  padding: 16px 32px;
}
.project-tile {
  margin-bottom: 30px;
}
footer {
  border-top: 3px #93dc28 solid;
  flex-shrink: 0;
  padding-bottom: 1.25rem;
  text-align: center;
  background-color: #2a2d34;
  color: #fff;
  width: 100%;
}
.headshot-container {
  max-width: 375px;
  margin: 0 auto;
}
.headshot {
  margin-bottom: 1.25rem;
  width: 100%;
  display: block;
}
.footer-item {
  display: block;
  font-size: 1.25rem;
  margin: 0.75rem;
  color: #fff;
  transition: color 0.25s;
}
.footer-item:hover {
  color: #93dc28;
}
@media (min-width: 700px) {
  .footer-item {
    display: inline;
  }
}
.bio {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1rem;
}
h1 {
  font-size: 2rem;
  line-height: 1.25;
}
@media (min-width: 43.75rem) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.125;
  }
}
@media (min-width: 56.25rem) {
  h1 {
    font-size: 3rem;
    line-height: 1.05;
  }
}
h2 {
  font-size: 1.625rem;
  line-height: 1.15384615;
}
@media (min-width: 43.75rem) {
  h2 {
    font-size: 2rem;
    line-height: 1.25;
  }
}
@media (min-width: 56.25rem) {
  h2 {
    font-size: 2.25rem;
    line-height: 1.25;
  }
}
h3 {
  font-size: 1.375rem;
  line-height: 1.13636364;
}
@media (min-width: 43.75rem) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
@media (min-width: 56.25rem) {
  h3 {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}
h4 {
  font-size: 1.125rem;
  line-height: 1.11111111;
}
@media (min-width: 43.75rem) {
  h4 {
    line-height: 1.22222222;
  }
}
blockquote {
  font-size: 1.25rem;
  line-height: 1.25;
}
@media (min-width: 43.75rem) {
  blockquote {
    font-size: 1.5rem;
    line-height: 1.45833333;
  }
}
p {
  font-size: 1rem;
}
.p-small {
  font-size: 0.875rem;
}
.p-medium {
  font-size: 1.125rem;
}
.bold {
  font-weight: 700;
}
.highlight {
  background-color: #81229F;
  color: #fff;
  padding: 0.25rem 0.5rem;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
