#hero {
  width: 100%;
  color: @dark-gray;
  background-color: @light-gray;
  border-bottom: @green-border;
}

#hero-container {
  .content-width();
  padding: 20px 0;
}

#headshot, #welcome-section {
  width: 100%;
  text-align: center;
}

#headshot-container img {
  vertical-align: middle;
  border-radius: 50%;
}

#welcome-section header {
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  #headshot, #welcome-section {
    .two-column();
  }

}
