#projects {
  text-align: center;
  color: @dark-gray;
  grid-area: projects;
}

.column {
  width: 100%;
}

.project-tile {
  text-decoration: none;
  color: @dark-gray;
  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: @tablet-width) {
  .column {
    .two-column();
  }
  .portfolio-img {
    width: 90%;
    max-width: 308px;
    height: auto;
  }
}
