@import "modules/variables";
@import "modules/typography";
@import "modules/buttons";
@import "modules/styleguide";
@import "modules/navbar";
@import "modules/welcome-section";
@import "modules/projects";
@import "modules/footer";

html {
  font-family: 'Cabin', sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
  body {
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .navbar-container {
    flex: 0 0 175px;
    box-sizing: border-box;
  }

  .section-container {
    flex: 1 1 auto;
    box-sizing: border-box;
  }

  section {
    border-bottom: @gray-lightest-border;
  }

  section,
  #footer {
    padding: 3rem 1.25rem;
    box-sizing: border-box;
  }

  @media (min-width: @tablet-width) {

    section,
    #footer {
      padding: 3rem 6rem;
    }
  }
}

@media(prefers-color-scheme: dark) {
  html {
    background-color: @black;
  }
  
  section {
    border-bottom: @gray-dark-border;
  }
}