@import "modules/variables";
@import "modules/navbar";
@import "modules/welcome-section";
@import "modules/projects";
@import "modules/footer";
@import "modules/typography";

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "navbar"
    "welcome-section"
    "projects"
    "footer";
}
