// Color Palette
@lime-green: #93dc28;
@dark-gray: #2a2d34;
@light-gray: #e3e3e3;
@white: #fff;


// Mixins
.content-width {
  width: 90%;
  margin: auto;
}

.two-column {
  width: 48%;
  display: inline-block;
}
