#footer {
  .headshot {
    margin-bottom: 1.25rem;
    width: 100%;
    display: block;
  }

  .footer-item {  
    font-size: 1.25rem;
    margin: 0.75rem 0.75rem 0.75rem 0;
  }

  @media (min-width: @tablet-width) {
    .headshot-container {
      max-width: 500px;
    }

    .bio {
      max-width: 1000px;
    }
  }
}