#projects {
  text-align: center;
  color: @dark-gray;
  border-top: @green-border;
  grid-area: projects;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 580px));
  gap: 2.5rem 2.5rem;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.container {
    position: relative;
}

.portfolio-img {
  opacity: 0.7;
  height: auto;
  transition: .5s ease;
  display: block;
  margin: 0 auto;
}

.middle {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 75%;
}

.container {
  .project-link {
    display: block;
    position: relative;
  }

  .project-link:hover, .project-link:focus {
    .portfolio-img {
      opacity: 0.3;
    }
  } 
} 

.container {
  .project-link:hover, .project-link:focus {
    .middle {
      opacity: 1;
    }
  } 
} 

.text {
  background-color: @dark-gray;
  color: @white;
  padding: 16px 32px;
}

.project-tile {
  margin-bottom: 30px;
}
