#projects {
  text-align: center;
  color: @dark-gray;
  border-top: @green-border;
  grid-area: projects;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.project-tile a {
  text-decoration: none;
  color: @dark-gray;
  &:hover {
    text-decoration: underline;
  }
}
