// Color Palette
@green-light: #63AA78;
@green-primary: #006130;
@green-dark: #0D4222;

@purple-light: #B392A4;
@purple-primary: #6C4B5E;
@purple-dark: #48333F;

// Gray Scale
@white: #ffffff;
@white-soft: #f3f3f3;
@gray-lightest: #DDDDDD;
@gray-light: #B0B0B0;
@gray: #868686;
@gray-dark: #5E5E5E;
@gray-darkest: #393939;
@black: #1F1F1F;

// Border
@gray-lightest-border: 1px solid @gray-lightest;
@gray-dark-border: 1px solid @gray-dark;

// Breakpoints
@tablet-width: 700px;