// New Color Palette
@green-dark: #003d1e;
@green-light: #006130;

@purple-dark: #382633;
@purple-light: #6c4b5e;

// Grayscale
@white: #ffffff;
@gray-light: #dcdcdd;
@gray: #b5b5b5;
@gray-dark: #676767;
@black: #130303;

// Border
@gray-border: 1px solid @gray-light;

// Breakpoints
@tablet-width: 700px;
