#welcome-section {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: @gray-light-border;

  .b-highlight {
    color: @white;
    background-color: @green-light;
    padding: 0 12px;
    border-radius: 8px;
  }
}

@media (min-width: @tablet-width) {
  #welcome-section {
    height: 66vh;
  }
}

@media(prefers-color-scheme: dark) {
  #welcome-section {
    border-bottom: @gray-dark-border;

    .b-highlight {
      color: @gray;
    }
  }
}