#welcome-section {
  background: linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5)), url(../img/rock-stack-min.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  color: @dark-gray;
  //background-color: @light-gray;
  grid-area: welcome-section;
  text-align: center;
  height: 100vh;
  header {
    color: @white;
    margin-top: 30vh;
  }
}
